/* Оформление контейнера калькулятора */
.calculator-container {
  background-color: #f3f4f6; /* светло-серый цвет фона */
  padding: 15px;             /* внутренний отступ */
  border-radius: 10px;        /* скруглённые углы */
  display: inline-block;      /* занимает только нужное место */
}

/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
  margin-right: 5px;           /* задаем отступ от кнопки справа */
  margin-top: 5px;             /* задаем отступ от кнопки сверху*/
  width: 50px;                 /* задаем ширину кнопки */
  height: 50px;                /* задаем высоту кнопки */
  border-radius: 10px; /* скруглённые углы, но не круг */
  border: none;                /* отключаем обводку */
  background: #d50032;         /* задаем серый цвет кнопки */
  color: #1a1a1a ;                /* задаем белый цвет текста внутри кнопки */
  font-size: 1.5rem;           /* увеличим размер шрифта */
  font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
  cursor: pointer;             /* при наведении на кнопку курсор будет изменен
                                  со стрелки на 'указательный палец' */
  user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
} 

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: #fee7ef; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary { 
  background: #005bd1; /* цвет кнопки оранжевый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary { 
  background: #a6a6a6; /* цвет кнопки сервый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute { 
  width: 110px;          /* сделаем кнопку шире других */
  border-radius: 10px; /* скруглённые углы, но не круг */
}

/* селектор для поля вывода результата */
.result { 
  width: 225px;
  height: 50px;
  margin-bottom: 15px;         /* отступ снизу */
  padding-right: 10px;         /* выступ справа */
  background: #d50032;       /* цвет можно задавать и таким образом */
  text-align: right;           /* примагнитим текст к правой стороне */
  color: #1a1a1a;              /* цвет текста белый */
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;         /* скругляем углы так же, как у фона калькулятора */
  box-sizing: border-box;      /* чтобы padding не увеличивал размеры */
}